.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #212A37;
}

.nav {
  padding: 1rem;
}

.navContent {
  display: flex;
  align-items: center;
}

.postcardWrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.postcardText {
  font-size: 2.125rem;
  font-weight: 600;
  color: #ffffff;
}
.logoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}
.downloadText {
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
}

.footer {
  /* padding: 2rem 0; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  left: 0;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footerLink {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.2s;
}

.footerLink:hover {
  color: #ffffff;
}